<html>
  <head>
    <title>Django DAW blog</title>
  </head>
<body>
  <div>
    <h1><a href="">Bienvenidos a Django DAW Blog</a></h1>
  </div>

<div>
  <p>publicado: 26.04.2020, 10.34</p>
  <h2><a href="">Mi primer post</a></h2>
  <p>
Los poemas cortos son una forma de expresión artística muy 
antigua que se ha transformado con el tiempo, pero que ha mantenido 
su esencia. Expresan las emociones o representan el mundo de un modo
profundo, poético. Los temas que abordan son casi infinitos, 
y las formas de hacerlo, muy diversas
  </p>
</div>

<div>
  <p>publicado: 26.04.2020, 10.31</p>
  <h2><a href="">Mi segundo post</a></h2>
  <p>
La literatura es una disciplina que usa el lenguaje de forma
 estética. El término literatura proviene del vocablo 
 latínlitterae, que hace referencia a la acumulación de 
 conocimientos que nos guíen al correcto modo de escribir y de leer.
  </p>
</div>
</body>
</html>